
header {
    .header-message {
        text-align: center;
        color: #0f0;
    }
}
.print-footer { 
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 100%;
    p {
        font-size: .5rem;
        margin: 0;
    }
    .print-logo {
        float: right;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
};
.print-cards {
    background: #ffffff;
    width: 100%;
    padding: 0 0.25in;
    .print-section {
        border-top: 1px solid black;
        margin-top: 32px;
        padding-top: 32px;
        width: 100%;
        display: block;
        &:first-child {
            border-top: none;
        }
        .section-header {
            display: flex;
            flex-flow: row wrap;
            align-items: baseline;
            justify-content: space-between;
            .units-summary {
                font-size: 1rem;
            }
        }
        .section-content {
            display: flex;
            flex-wrap: wrap;
            .lance-bonus {
                font-size: 14px;
            }
            .unit-card,
            .ability-card {
                flex-basis: 50%;
                padding: 5px;
            }
            .ability-card {
                flex-basis: 33.333%;
            }
            .pilot-abilities {
                fill: #666;
            }
        }
    }
}

@media print {
    header {
        display: none;
    }
    .print-cards {
        padding: 0 0  .25in 0;
        .print-section {
            border: none;
            margin: 0;
            padding: 0;
            break-before: always;
            .section-header {
                h2 {
                    font-size: 1rem;
                    margin: 0;
                }
            }
            .section-content {
                .lance-bonus {
                    font-size: 11px;
                    line-height: 14px;
                }
            }
        }
        .print-footer {
            display: block;
        }
    }
}

@page {
    margin: .25in;
}