svg.alpha-strike-card {
    max-width: 1050px;
    text {
        text-rendering: optimizeLegibility;
    }
    p,
    p a {
        text-align: left;
        color: black;
    }
}

.unit-background {
    fill: rgb(255,255,255);
}

.impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
}

.vertical-text {
    transform: rotate(-90deg);
    font-size: 16px;
    font-weight: 700;
    font-family: "QTEurotype", sans-serif;
    letter-spacing: 2px;
}

.strong {
    font-weight: 500;
}

.card-title {
    font-size: 44px;
    font-weight: bolder;
}

.unit-portrait {
    mix-blend-mode: darken;
    transform: translate(-25%, 4%) scale(115%);
}

.unit-type-bm .unit-portrait,
.unit-type-pm .unit-portrait {
    transform: translate(-2.5%, 0%) scale(89%);
}

.card-name {
    .variant {
        font-size: 2rem;
        font-family: "QTEurotype", sans-serif;
    }
    .impact {
        font-size: 3.6rem;
    }
    .pilot-abilities {
        font-size: 1.7rem;
        font-weight: 600;
    }
}

.data-pair {
    font-size: 2rem;
    font-weight: 700;
    tspan {
        font-weight: 400;
        text-transform: uppercase;
    }
    &.small {
        font-size: 1rem;
        &.spa,
        &.base {
            font-size: 1.5rem;
        }
    }
}

.damage-column {
    font-size: 1.2rem;
    text-anchor: middle;
    .damage {
        font-size: 2.2rem;
        font-weight: 700;
    }
}

.crit-label {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

.crit-description {
    font-size: 20px;
}

.point-value {
    font-size: 52px;
    font-weight: 700;
    .current {
        tspan {
            font-size: 46px;
            font-weight: 500;
        }
    }
}

.threshold {
    font-size: 44px;
}

.specials {
    font-size: 25px;
    line-height: 2.2rem;
    color: black;
}

.description {
    font-size: 48px;
}

.pilot-ability {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-between;
    .ability-name {
        font-size: 2.8rem;
        font-weight: 600;
    }
    .ability-cost {
        font-size: 2rem;
        color: #666;
    }
    p {
        flex-basis: 100%;
        font-size: 2.2rem;
        line-height: 2.6rem;
        margin: 0;
    }
    &+.pilot-ability {
        margin: 14px 0;
        padding-top: 8px;
        border-top: 1px solid #aaa;
    }
}

.move-token {
    fill: rgb(0,0,0);
    &.standstill,
    &.low,
    &.jump,
    &.extreme {
        fill: rgb(255,255,255);
    }
    &:not(text) {
        fill: rgba(255,255,255,.2);
        stroke: rgb(0,0,0);
        stroke-width: 3;
        filter: drop-shadow(rgba(0,0,0,.5) 0 .15rem .3rem);
        &.ground,
        &.middle {
            fill: rgb(255,255,255);
        }
        &.standstill,
        &.low {
            fill: rgb(0,0,0);
        }
        &.sprint,
        &.high {
            fill: rgb(204,187,0);
        }
        &.jump,
        &.extreme {
            fill: rgb(200,0,0);
        }
        &.grounded {
            fill: rgb(210,210,210);
        }
        &.big {
            filter: drop-shadow(black 0 .5rem 1rem);
        }
    }
}

.dot {
    fill: rgb(255,255,255);
    stroke: rgb(0,0,0);
    stroke-width: 2;
    &.structure {
        fill: rgb(153,153,153);
    }

}

.heat {
    fill: rgb(102,102,102);
    stroke-width: 0;
    &+ text {
        font-size: 2rem;
        fill: white;
        font-weight: 700;
    }
}

.in-play {
    .dot,
    .heat {
        cursor: pointer;
    }
    .active {
        fill: rgb(200,0,0);
        &.heat-1 {
            fill: rgb(204, 187, 0);
        }
        &.heat-2 {
            fill: rgb(236,87,16);
        }
        &.heat-3 {
            fill: rgb(200,0,0);
        }
        &.heat-4 {
            fill: rgb(255,10,10);
        }
        &.staged {
            fill: rgb(230,255,255);
            &.heat {
                fill: rgb(113,153,153);
            }
        }
    }
    .staged {
        fill: rgb(0,180,180);
        stroke: rgb(0,140,140);
        polygon {
            stroke: none;
        }
        path {
            fill: none;
            stroke-width: 3;
        }
        text {
            stroke: none;
        }

    }
}

