@font-face {
    font-family: "QTEurotype";
    src: url("./ui/fonts/QTEurotype.otf");
}

$fontSize: 14px;

$lightBG: #fdfde3;
$lightBGHover: #cacab4;
$desaturatedLightBG: #ccc;
$desaturatedLightBGHover: #ddd;
$retroLightBG: #030;
$retroLightBGHover: #040;

$colorLightGray: #eee;

// $colorTan: rgb(233, 226, 190);
$colorTan: $lightBG;

$fontColor: #fdfde3;
$desaturatedFontColor: #fefefe;
$retroFontColor: #0c0;

$headerFooterBackground: #111;
$headerFontColor: #fff;
$bodyBackground: #333;

$primaryBG: #dfab2d;
$primaryBGHover: #b48a25;
$primaryTextColor: #fff;
$colorWhite: #fff;
$desaturatedPrimaryBG: #666;
$desaturatedPrimaryBGHover: #999;
$desaturatedPrimaryTextColor: #fff;

$retroPrimaryBG: #090;
$retroPrimaryBGHover: #0c0;
$retroPrimaryTextColor: #000;

$disabledTextColor: #999;

$darkenedBG: rgba( 0, 0, 0, .25);
$darkenedGreenBG: rgba( 0, 66, 0, .25);

$secondaryBG: #725616;
$secondaryBGHover: #88671c;
$secondaryTextColor: #333;

$desaturatedSecondaryBG: #444;
$desaturatedSecondaryBGHover: #666;
$desaturatedSecondaryTextColor: #fff;

$retroSecondaryBG: #060;
$retroSecondaryBGHover: #080;
$retroSecondaryTextColor: #fff;

$textSectionBG: #222;
$textSectionFG: #fff;

$colorRed: #900;
$colorBrighterRed: #c00;
$colorBrightRed: #f00;

$colorBrightOrange: rgb(255, 174, 0);
$colorBlue: #00e;
$colorGreen: #090;

:root {
    --primary: #dfab2d;
    --primaryHover: #b48a25;
    --primaryText: #000000;
    --hoverText: #000000;
    --green: #a3ee34;
    --yellow: #f8f810;
    --orange: #ee9f0d;
    --red: #e70a0a;
    --crimson: #dc143c;
    --minimal: #279e98;
    --ht: #961f1f;
    --flk: #70699e;
    --wrecked: #ffd6d6;
    --staged: #dda0dd;
    --rad: 4px;
    .desaturated {
        --primary: #666666;
        --primaryHover: #999999;
        --primaryText: #ffffff;
        --hoverText: #000000;
        --green: #e4fcc1;
        --yellow: #fcfcd5;
        --orange: #f5e4c4;
        --red: #eccccc;
        --crimson: #cfadb4;
        --minimal: #87acaa;
        --ht: #947171;
        --flk: #7d7a8d;
        --wrecked: #fceeee;
        --staged: #dbbddb;
    }
    .retro {
        --primary: #009900;
        --primaryHover: #00cc00;
        --primaryText: #ffffff;
        --hoverText: #000000;
        --wrecked: #6b6b6b;
        --staged: #99bb99;
        --green: #ffffff;
        --yellow: #b6f5a6;
        --orange: #7acf6f;
        --red: #3da839;
        --crimson: #259b1a;
        --ht: var(--crimson);
        --rad: 0;
    }
}